<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <div id="side_menu">
            <div class="bar">
                <p class="bar_title">side menu</p>
            </div>
            <div class="money_box">
                <div class="bar">
                    <p class="bar_title">所持金</p>
                </div>
                <p>手持ち:<%= @money.wallet %>円</p>
                <p>銀行:<%= @money.bank %>円</p>
            </div>
            <div class="menu_bar">
                <div class="bar">
                    <p class="bar_title">メニューバー</p>
                </div>
                <p><%= link_to "所持金の修正をする" ,[:edit ,@money] %></p>
                <p id="create_event">イベント新規作成</p>
            </div>
            <div class="balance">
                <div class="bar">
                    <p class="bar_title">収支</p>
                </div>
                <div class="last_month">
                    <div class="bar">
                        <p class="bar_title">先月の収支</p>
                    </div>
                    <p>収入:<%= @LastMonth_income %>円</p>
                    <p>支出:<%= -@LastMonth_spending %>円</p>
                    <p>合計:<%= @LastMonth_income + @LastMonth_spending %>円</p>
                </div>
                <div class="this_month">
                    <div class="bar">
                        <p class="bar_title">今月の収支(予定)</p>
                    </div>
                    <p>収入:<%= @ThisMonth_income %>円</p>
                    <p>支出:<%= -@ThisMonth_spending %>円</p>
                    <p>合計:<%= @ThisMonth_income + @ThisMonth_spending %>円</p>
                </div>
            </div>


        </div>
        <div class="main">
            <div class="bar">
                <p class="bar_title">event一覧</p>
            </div>
            <div class="main_right">

                <table class="recorded">
                    <thead class="recorded">
                        <tr>
                            <td  colspan="4" class="title">記録済みevent</th>
                        </tr>
                        <tr>
                            <th>タイトル</th>
                            <th>金額</th>
                            <th>日時</th>
                            <th>削除</th>
                        </tr>
                    </thead>
                    <tbody class="recorded">
                        <% count=0 %>
                        <% @events_recorded.each do |event| %>
                        <% count=count+1 %>
                        <tr>
                            <td><%= event.title %></td>
                            <td><%= event.amount %>円</td>
                            <td><%= event.day.strftime("%-m月%-d日") %></td>
                            <td><%= link_to "削除する" ,event,method: :delete,data:{confirm: "本当に削除しますか？"}%></td>
                        </tr>
                        <% if count==10 %>
                            <% break %>
                        <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="main_left">

                <table class="unrecorded">
                    <thead class="unrecorded">
                        <tr>
                            <td colspan="5" class="title">予定event</th>
                        </tr>
                        <tr>
                            <th>タイトル</th>
                            <th>金額</th>
                            <th>日時</th>
                            <th>編集</th>
                            <th>削除</th>
                        </tr>
                    </thead>
                    <tbody class="unrecorded">
                        <% @events_unrecorded.each do |event| %>
                        <tr>
                            <td><%= event.title %></td>
                            <td><%= event.amount %>円</td>
                            <td><%= event.day.strftime("%-m月%-d日") %></td>
                            <td><%= link_to "編集する" ,[:edit ,event]%></td>
                            <td><%= link_to "削除する" ,event,method: :delete,data:{confirm: "本当に削除しますか？"}%></td>

                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
            <div class="bar">
                <p class="bar_title">footer</p>
            </div>
        </div>

        <div class="modal-main" id="suggest">
            <p class="message">予定日時を過ぎた未記録のeventが<%= @events_should_recorded.load.count %>件あります</p>
            <table class="should">
                <thead class="should">
                    <tr>
                        <th>タイトル</th>
                        <th>金額</th>
                        <th>日時</th>
                        <th>編集</th>
                        <th>記録</th>
                        <th>削除</th>
                    </tr>
                </thead>
                <tbody class="should">
                    <% @events_should_recorded.each do |event| %>
                    <tr>
                        <td><%= event.title %></td>
                        <td><%= event.amount %>円</td>
                        <td><%= event.day.strftime("%-m月%-d日") %></td>
                        <td><%= link_to "編集する" ,[:edit ,event]%></td>
                        <td><%= link_to "記録する" ,"/record/#{event.id}",method: :post%></td>
                        <td><%= link_to "削除する" ,event,method: :delete,data:{confirm: "本当に削除しますか？"}%></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="modal-main" id="create">
            <p class="message">新しいイベントをつくろう</p>
            <%= form_for @new_event do |f| %>
            タイトル:<%= f.text_field :title %>
            金額:<%= f.text_field :amount %>
            日時:<%= f.date_select :day,start_year:2016,end_year:Time.now.year,use_month_numbers: true %>
            記録済み:<%= f.check_box :recorded %>
            <%= f.submit %>
            <% end %>
            <p id="return">もどる</p>
        </div>

    </body>
</html>
