<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Caveat rel="stylesheet">
    </head>
    <body>
        <h2>KeepTrack</h2>
        <div id="side_menu">
            <div class="bar">
                <p class="bar_title">side menu</p>
            </div>
            <div class="money_box">
                <div class="bar">
                    <p class="bar_title">所持金</p>
                </div>
                <p>手持ち:<%= @money.wallet %>円</p>
                <p>銀行:<%= @money.bank %>円</p>
            </div>
            <div class="menu_bar">
                <div class="bar">
                    <p class="bar_title">メニューバー</p>
                </div>
                <p id="modify_link" class="link">所持金の修正</p></br>
                <p id="create_link" class="link">イベント新規作成</p></br>
                <p id="baito_link" class="link">かてきょイベント作成</p></br>
                <p id="phone_link" class="link">スマホ代イベント作成</p>
            </div>

        </div>
        <div class="main">
            <div class="bar">
                <p class="bar_title">event一覧</p>
            </div>
            <div class="main_right">

                <table class="recorded">
                    <thead class="recorded">
                        <tr>
                            <td  colspan="4" class="title">記録済みevent</th>
                        </tr>
                        <tr>
                            <td class="midasi">タイトル</td>
                            <td class="midasi">金額</td>
                            <td class="midasi">日時</td>
                            <td class="midasi">削除</td>
                        </tr>
                    </thead>
                    <tbody class="recorded">
                        <% count=0 %>
                        <% @events_recorded.each do |event| %>
                        <% count=count+1 %>
                        <tr>
                            <td><%= event.title %></td>
                            <td><%= event.amount %>円</td>
                            <td><%= event.day.strftime("%-m月%-d日") %></td>
                            <td><%= link_to "削除する" ,event,method: :delete,data:{confirm: "本当に削除しますか？"}%></td>
                        </tr>
                        <% if count==10 %>
                            <% break %>
                        <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="main_left">

                <table class="unrecorded">
                    <thead class="unrecorded">
                        <tr>
                            <td colspan="5" class="title">予定event</th>
                        </tr>
                        <tr>
                            <td class="midasi">タイトル</td>
                            <td class="midasi">金額</td>
                            <td class="midasi">日時</td>
                            <td class="midasi">編集</td>
                            <td class="midasi">削除</td>
                        </tr>
                    </thead>
                    <tbody class="unrecorded">
                        <% @events_unrecorded.each do |event| %>
                        <tr>
                            <td><%= event.title %></td>
                            <td><%= event.amount %>円</td>
                            <td><%= event.day.strftime("%-m月%-d日") %></td>
                            <td><%= link_to "編集する" ,[:edit ,event]%></td>
                            <td><%= link_to "削除する" ,event,method: :delete,data:{confirm: "本当に削除しますか？"}%></td>

                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
            <div class="bar">
                <p class="bar_title">footer</p>
            </div>
            <div class="last_month">
                <div class="bar">
                    <p class="bar_title">先月の収支</p>
                </div>
                <p>収入:<%= @LastMonth_income %>円</p>
                <p>支出:<%= -@LastMonth_spending %>円</p>
                <p>合計:<%= @LastMonth_income + @LastMonth_spending %>円</p>
            </div>
            <div class="this_month">
                <div class="bar">
                    <p class="bar_title">今月の収支(予定)</p>
                </div>
                <p>収入:<%= @ThisMonth_income %>円</p>
                <p>支出:<%= -@ThisMonth_spending %>円</p>
                <p>合計:<%= @ThisMonth_income + @ThisMonth_spending %>円</p>
            </div>

        </div>

        <div class="modal-main" id="suggest">
            <p class="message">予定日時を過ぎた未記録のeventが<%= @events_should_recorded.load.count %>件あります</p>
            <table class="should">
                <thead class="should">
                    <tr>
                        <td class="midasi">タイトル</td>
                        <td class="midasi">金額</td>
                        <td class="midasi">日時</td>
                        <td class="midasi">編集</td>
                        <td class="midasi">記録</td>
                        <td class="midasi">削除</td>
                    </tr>
                </thead>
                <tbody class="should">
                    <% @events_should_recorded.each do |event| %>
                    <tr>
                        <td><%= event.title %></td>
                        <td><%= event.amount %>円</td>
                        <td><%= event.day.strftime("%-m月%-d日") %></td>
                        <td><%= link_to "編集する" ,[:edit ,event]%></td>
                        <td><%= link_to "記録する" ,"/record/#{event.id}",method: :post%></td>
                        <td><%= link_to "削除する" ,event,method: :delete,data:{confirm: "本当に削除しますか？"}%></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="modal-main" id="create">
            <p class="message">新しいイベントをつくろう</p>
            <%= form_for @new_event do |f| %>
            タイトル:<%= f.text_field :title %>
            金額:<%= f.text_field :amount %>
            日時:<%= f.date_select :day,start_year:2016,end_year:Time.now.year,use_month_numbers: true %>
            記録済み:<%= f.check_box :recorded %>
            <%= f.submit %>
            <% end %>
            <p class="return">もどる</p>
        </div>

        <div class="modal-main" id="baito">
            <p class="message">かてきょイベントを作ろう</p>
            <%= form_tag("/baito") do %>
              <%= label_tag(:times15, "1.5時間:") %>
              <%= text_field_tag(:times15,8)%>回
          </br>
              <%= label_tag(:times20, "2.0時間:") %>
              <%= text_field_tag(:times20,0) %>回
          </br>
              最終勤務日:<%= date_select(:date, "hoge",use_month_numbers: true) %>
              <%= submit_tag("ぼたん") %>
            <% end %>
            <p class="return">もどる</p>
        </div>

        <div class="modal-main" id="modify">
            <p class="message">所持金を修正しよう</p>
            <%= form_for @money do |f| %>
            wallet:<%= f.text_field :wallet %>
            bank:<%= f.text_field :bank %>
            <%= f.submit %>
            <% end %>
            <p class="return">もどる</p>
        </div>

        <div class="modal-main" id="phone">
            <p class="message">スマホ代引き落としイベント作成</p>
            <%= form_tag("/phone") do %>
              <%= label_tag(:amount,"") %>
              <%= text_field_tag(:amount,-10000)%>円
              <%= submit_tag("ぼたん") %>
            <% end %>
            <p class="return">もどる</p>
        </div>
    </body>
</html>
