<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Caveat rel="stylesheet">
    </head>

    <body>
        <h2>KeepTrack</h2>
        <div id="side_menu">
            <div class="bar">
                <p class="bar_title">side menu</p>
            </div>
            <div class="money_box">
                <div class="bar">
                    <p class="bar_title">所持金</p>
                </div>
                <div id="wallet">
                    <%= image_tag "wallet.jpg" , :size => '45x45' ,:class => "image" %>
                    <div class="money_text"><span class="strong"><%= number_to_currency(@money.wallet, :unit => "￥",:precision => 0, :negative_format => "%u-%n") %></span></div>
                </div>
                <div id="bank">
                    <%= image_tag "bank.jpg"  , :size => '45x45',:class => "image" %>
                    <div class="money_text"> <span class="strong"><%= number_to_currency(@money.bank, :unit => "￥",:precision => 0, :negative_format => "%u-%n") %></span></div>
                </div>

            </div>
            <div class="menu_bar">
                <div class="bar">
                    <p class="bar_title">メニューバー</p>
                </div>
                <p id="modify_link" class="link">所持金の修正</p></br>
                <p id="create_link" class="link">イベント新規作成</p></br>
                <p id="baito_link" class="link">かてきょイベント作成</p></br>
                <p id="phone_link" class="link">スマホ代イベント作成</p>
            </div>

            <div class="this_month">
                <div class="bar">
                    <p class="bar_title">今月の収支(予定)</p>
                </div>

                <div id="income">
                    <%= image_tag "income.png" , :size => '45x45' ,:class => "image" %>
                    <div class="money_text"><span class="strong"><%= number_to_currency(@ThisMonth_income, :unit => "￥", :precision => 0, :negative_format => "%u-%n") %></span></div>
                </div>
                <div id="spending">
                    <%= image_tag "spending.jpg"  , :size => '45x45',:class => "image" %>
                    <div class="money_text"><span class="strong"><%= number_to_currency(-@ThisMonth_spending, :unit => "￥",:precision => 0, :negative_format => "%u-%n") %></span></div>
                </div>
                <div id="sum">
                    <div class="money_text"><span class="strong"><%= number_to_currency(@ThisMonth_income + @ThisMonth_spending, :unit => "￥",:precision => 0, :negative_format => "%u-%n") %></span></div>
                </div>
            </div>


        </div>
        <div class="main">
            <div class="bar">
                <p class="bar_title">event一覧</p>
            </div>
            <div class="main_right">

                <table class="recorded">
                    <thead class="recorded">
                        <tr>
                            <td  colspan="5" class="title">記録済みevent</th>
                        </tr>
                        <tr>
                            <td class="midasi">タイトル</td>
                            <td class="midasi">金額</td>
                            <td class="midasi">日時</td>
                            <td class="midasi">編集</td>
                            <td class="midasi">削除</td>
                        </tr>
                    </thead>
                    <tbody class="recorded">
                        <% count=0 %>
                        <% @events_recorded.each do |event| %>
                        <% count=count+1 %>
                        <tr>
                            <td><%= event.title %></td>
                            <td class="amount"><%= number_to_currency(event.amount, :unit => "￥", :precision => 0, :negative_format => "%u-%n") %></td>
                            <td><%= event.day.strftime("%-m月%-d日") %></td>
                            <td><%= link_to "編集する" ,[:edit ,event]%></td>
                            <td><%= link_to "削除する" ,event,method: :delete,data:{confirm: "本当に削除しますか？"}%></td>
                        </tr>
                        <% if count==18 %>
                            <% break %>
                        <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="main_left">

                <table class="unrecorded">
                    <thead class="unrecorded">
                        <tr>
                            <td colspan="5" class="title">予定event</th>
                        </tr>
                        <tr>
                            <td class="midasi">タイトル</td>
                            <td class="midasi">金額</td>
                            <td class="midasi">日時</td>
                            <td class="midasi">編集</td>
                            <td class="midasi">削除</td>
                        </tr>
                    </thead>
                    <tbody class="unrecorded">
                        <% @events_unrecorded.each do |event| %>
                        <tr>
                            <td><%= event.title %></td>
                            <td class="amount"><%= number_to_currency(event.amount, :unit => "￥", :precision => 0, :negative_format => "%u-%n") %></td>
                            <td><%= event.day.strftime("%-m月%-d日") %></td>
                            <td><%= link_to "編集する" ,[:edit ,event]%></td>
                            <td><%= link_to "削除する" ,event,method: :delete,data:{confirm: "本当に削除しますか？"}%></td>

                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="modal-main" id="suggest">
            <p class="message">予定日時を過ぎた未記録のeventが<%= @events_should_recorded.load.count %>件あります</p>
            <table class="should">
                <thead class="should">
                    <tr>
                        <td class="midasi">タイトル</td>
                        <td class="midasi">金額</td>
                        <td class="midasi">日時</td>
                        <td class="midasi">編集</td>
                        <td class="midasi">記録</td>
                        <td class="midasi">削除</td>
                    </tr>
                </thead>
                <tbody class="should">
                    <% @events_should_recorded.each do |event| %>
                    <tr>
                        <td><%= event.title %></td>
                        <td class="amount"><%= number_to_currency(event.amount, :unit => "￥", :precision => 0, :negative_format => "%u-%n") %></td>
                        <td><%= event.day.strftime("%-m月%-d日") %></td>
                        <td><%= link_to "編集する" ,[:edit ,event]%></td>
                        <td><%= link_to "記録する" ,"/record/#{event.id}",method: :post%></td>
                        <td><%= link_to "削除する" ,event,method: :delete,data:{confirm: "本当に削除しますか？"}%></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="modal-main" id="create">
            <p class="message">新しいイベントをつくろう</p>
            <div class="content">
                <%= form_for @new_event do |f| %>
                タイトル:<%= f.text_field :title %>
                </br></br>
                金額:<%= f.text_field :amount ,:value => "-"%>
                </br></br>
                日時:<%= f.date_select :day,start_year:Time.now.year,end_year:Time.now.year+2,use_month_numbers: true %>
                </br></br>
                記録済み:<%= f.check_box :recorded %>
                </br></br>
                <%= f.submit("作成",class: "button") %>
                <% end %>
            </div>
            <p class="return">もどる</p>
        </div>

        <div class="modal-main" id="baito">
            <p class="message">かてきょイベントを作ろう</p>
            <div class="content">
                <%= form_tag("/baito") do %>
                  <%= label_tag(:times15, "1.5時間:") %>
                  <%= text_field_tag(:times15,0)%>回
              </br></br>
                  <%= label_tag(:times20, "2.0時間:") %>
                  <%= text_field_tag(:times20,4) %>回
              </br></br>
                  最終勤務日:<%= date_select(:date, "hoge",use_month_numbers: true) %>
              </br></br>
                  <%= submit_tag("作成", class: "button") %>
                <% end %>
            </div>
            <p class="return">もどる</p>
        </div>

        <div class="modal-main" id="modify">
            <p class="message">所持金を修正しよう</p>
            <div class="content">
                <%= form_for @money do |f| %>
                手持ち:<%= f.text_field :wallet %>円
                 </br></br>
                銀行:<%= f.text_field :bank %>円
                 </br></br>
                <%= f.submit("作成", class: "button") %>
                <% end %>
            </div>
            <p class="return">もどる</p>
        </div>

        <div class="modal-main" id="phone">
            <p class="message">スマホ代引き落としイベント作成</p>
            <div class="content">
                <%= form_tag("/phone") do %>
                  <%= label_tag(:amount,"") %>
                  <%= text_field_tag(:amount,-7000)%>円
                  </br></br>
                  <%= submit_tag("作成", class: "button")%>
                <% end %>
            </div>
            <p class="return">もどる</p>
        </div>
    </body>
</html>
